<form #login="ngForm">
<label >name</label>
<input type="text" name="nom"  ngModel required minlength="3" #t="ngModel" pattern="[A-Z]*">
<div *ngIf="t.invalid">
    <div *ngIf="t.errors?.['required']">
required
    </div>
  <div *ngIf="t.errors?.['minlength']">
minlength
    </div>
    <div *ngIf="t.errors?.['pattern']">
pattern
    </div>
</div>
<label >pwd</label>
<input type="text" name="pwd" ngModel #pwd="ngModel" required minlength="6" pattern="^[A-Z].*[!@]">
<div *ngIf="pwd.invalid">
    <div *ngIf="pwd.errors?.['required']">
required
    </div>
  <div *ngIf="pwd.errors?.['minlength']">
minlength
    </div>
    <div *ngIf="pwd.errors?.['pattern']">
pattern
    </div>
</div>
<input type="submit"  value="login" (click)="showF(t)" [disabled]="login.invalid">
</form>